@(me: model.User)(content: Html)

@main("Home") {
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 col-md-2" id="sidebar">
                <div class="list-group">
                    <a href="@routes.LoginController.logout()" class="list-group-item">Logout</a>
                </div>
                @if(me.role.equals(model.Role.Admin.toString)) {
                <div class="list-group">
                    <a href="@routes.HomeController.users()" class="list-group-item">Users</a>
                </div>
                }
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="jumbotron">
                    <h1>Hello, @me.name</h1>
                </div>
                @content
            </div>
        </div>
    </div>
}