@(loginForm: Form[LoginEntity])(implicit messages: Messages)

@import helper._

@main("Login") {
    <div class="container">
        <form class="form-signin" action="@routes.LoginController.auth()" method="POST">
            <h2 class="form-signin-heading">Login:</h2>
            @inputText(loginForm("email"), 'class -> "form-control", 'required -> "")
            @inputPassword(loginForm("password"), 'class -> "form-control", 'required -> "")
            <button class="btn btn-large btn-primary" type="submit">Sign in</button>
            <a href="@routes.RegistrationController.register()">Register</a>
            @if(loginForm.hasGlobalErrors) {
            <div>@loginForm.globalErrors.head.message</div>
            }
        </form>
    </div>
}